
#slova {
	text-align: center;


}

span {
	font-size: 20px;
}

td {
	text-align: left;
}

h1 {
	text-align:center ;
}


#sve_filmovi {
	position: relative;
	margin-bottom: 10px;
	height: 98%;
	text-align: center;
}

.slika {
	
}